<app-navbar></app-navbar>

<div class="container">
  <div class="row" style="margin-top: 100px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <alert></alert>
      <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
          <label>Current Password</label>
          <div class="form-group pass_show">
            <input type="password" formContrlName="current_password" required class="form-control" placeholder="Current Password" [ngClass]="{'is-invalid': submitted && f.current_password.errors}">
            <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
                <div *ngIf="f.current_password.errors.required">Current password is required</div>
            </div>
          </div>
          <label>New Password</label>
          <div class="form-group pass_show">
            <input type="password" value="" formControlName="new_password" required class="form-control" placeholder="New Password" [ngClass]="{'is-invalid': submitted && f.new_password.errors}">
            <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                <div *ngIf="f.new_password.errors.required">New password is required</div>
            </div>
          </div>
          <label>Confirm Password</label>
          <div class="form-group pass_show">
            <input type="password" value="" formControlName="confirm_password" required class="form-control" placeholder="Confirm Password" [ngClass]="{'is-invalid': submitted && f.confirm_password.errors}">
            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required">Confirm password is required</div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-default"><i class="fa fa-key"></i> Save</button>
            <a class="btn btn-flat" (click)="onCancel()"> Cancel</a>
          </div>
      </form>
      

    </div>

  </div>
</div>